body,html {
    height:100%;
    font-family:"Helvetica";
    background:#FC354C;
    margin:0;
}

input {
    color:#312F2F;
    height: 4em;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 4;
}

input:focus {
    outline:none;
}

.main {
    height:100%;
}

.main h1 {
    text-align:center;
    color:#FFF;
    text-transform:uppercase;
}

.main p {
    color: #FFF;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
}

.main .inner {
    width:100%;
    padding:0 15px;
    margin:0 auto;
    height:100%;
}

@media(min-width:1240px) {
    .main .inner {
        width: 1024px;
    }
}

.film-details {
    width:100%;
    height:100%;
    position: relative;
}

.overlay {
    position: fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index: 2;
    filter:blur(5px);
    left:0;
    top:0;
}

.film-details .inner {
    margin:0 -30px;
    padding:0 15px;
    z-index:3;
    position: relative;
}

@media(min-width:1024px) {
    .film-details .inner {
        padding: 2em;
    }
}

.poster {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    z-index: 1;
}

em {
    text-align:center;
    color:#FFF;
    display: block;
    width:100%;
}